<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="assets/logo.png">
    <title>QuickBot</title>
    <!-- Använder Bootstrap 5 för att stajla sidan -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="manifest" href="manifest.json">
</head>

<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">
                <img src="assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Quickbot
            </a>
        </div>
    </nav>

    <div class="container my-3" id="app">

        <p v-cloak v-for="message in messages" class="w-75 alert"
            :class="message.agent === 'bot' ? 'alert-primary float-start' : 'alert-secondary float-end'">
            {{ message.utterance }}
        </p>

        <form ref="chatForm" @submit.prevent="addMessage(utterance)">
            <input type="text" class="form-control" v-model="utterance" autofocus>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    
        <!-- Använder Vue för att göra Ajax-anrop -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
    <script src="assets/script.js"></script>

</body>

</html>